<ion-view hide-nav-bar="true">
    <ion-content>
    <div class="">
        <div class="content">

        </div>
    </div>
    <div class="padding" style="margin-top: 10px;">
        <h4 class="text-center">TENTANG T-MONEY</h4>
        <p>
            T-Money adalah produk Telkom yang berbasis uang elektronik (e-money) yang dapat digunakan untuk transaksi
            online melalui web atau aplikasi mobile.
        </p>
        <h5 class="text-center">FITUR T-MONEY</h5>
       <div class="row header">
            <div class="col">Akun Gold</div>
            <div class="col">Akun Platinum</div>
        </div>
        <div class="row">
            <div class="col">Saldo maksimal Rp.1.000.000</div>
            <div class="col">Saldo maksimal Rp.5.000.000</div>
        </div>
        <div class="row">
            <div class="col">Berbelanja</div>
            <div class="col">Semua fitur Gold</div>
        </div>
        <div class="row">
            <div class="col">Bayar Tagihan</div>
            <div class="col">Transfer ke Rekening Bank</div>
        </div>
        <div class="row">
            <div class="col">Beli Pulsa</div>
            <div class="col">Pencairan Dana</div>
        </div>
        <div class="row">
            <div class="col">Terima Transfer Uang</div>
            <div class="col">Kirim dan Terima Transfer Uang</div>
        </div>
    </div>
  </ion-content>
</ion-view>
<style type="text/css">
.bar.bar-assertive {
    height: 45px;
    background-color: #CCCCCC;
    background-image: linear-gradient(0deg, #e42112, #e42112 50%, transparent 50%);
}
.bar .button.button-fab {
    display: none;
}
.bar .title {
    display: none;
}
</style>