<ion-view view-title="">
    <ion-content class="padding dashboard-menu">
  	     <div class="list">
            <a class="item item-icon-left side-item" href="#/app/beli_pulsa">
                <i class="icon ion-iphone"></i>
                Beli Pulsa
            </a>
            <a class="item item-icon-left side-item" href="#/app/tagihan">
                <i class="icon ion-calendar"></i>
                Bayar Tagihan
            </a>
            <a class="item item-icon-left side-item" href="#/app/transfer">
                <i class="icon ion-paper-airplane"></i>
                Transfer
            </a>
            <a class="item item-icon-left side-item" href="#/app/tarik_tunai">
                <i class="icon ion-cash"></i>
                Tarik Tunai
            </a>
            <a class="item item-icon-left side-item" href="#/app/buat_token">
                <i class="icon ion-calculator"></i>
                Buat Token
            </a>
            <a class="item item-icon-left side-item" href="#/app/donasi">
                <i class="icon ion-ribbon-b"></i>
                Donasi
            </a>
         </div>
    </ion-content>
</ion-view>
<style>
    .dashboard-menu .list a.side-item {
        color: #ffffff;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }
</style>
