<ion-view hide-nav-bar="">
    <div class="bar bar-subheader bar-default">
        <h2 class="title">{{balance() | currency: 'Rp. '}}</h2>
    </div>
    <ion-content class="padding dashboard-menu">
    <div class="padding">
        <h4>Ubah Password</h4>
        <form ng-submit="doChange()" class="">
        <div class="list">
            <label for="plama" class="item item-input item-stacked-label">
                <span class="input-label">Password Lama</span>
                <input type="text" ng-model="old_password" placeholder="Masukkan Password Lama" required >
            </label>
            <label for="pbaru" class="item item-input item-stacked-label">
                <span class="input-label">Password Baru</span>
                <input type="text" name="pbaru" ng-model="new_password" placeholder="Masukkan Password Baru" required >
            </label>
            <label for="rbaru" class="item item-input item-stacked-label">
                <span class="input-label">Ulangi Password Baru</span>
                <input type="text" name="rbaru" ng-model="retry_password" placeholder="Masukkan Ulang Password Baru" required >
                <div ng-show="retry_password.length > 0 && retry_password != new_password">
                    <span class="error">Password tidak cocok!</span>
                </div>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Pertanyaan Rahasia?</span>
                <input type="text" value="Tempat Lahirmu" readonly >
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Jawaban</span>
                <input type="text" ng-model="item.jawaban" placeholder="Masukkan Jawaban" >
            </label>
        </div>
        <strong>Perhatian:</strong>
        <ul class="list-number">
            <li class="item-text-wrap">
                Password harus mengandung minimal 8 karakter dengan huruf kapital, huruf kecil, dan angka.
            </li>
            <li class="item-text-wrap">
                Gantilah password anda secara berkala untuk menghindari kemungkinan pencurian data!
            </li>
        </ul>
        <button class="button button-block button-assertive icon ion-checkmark" type="submit" > Ubah Password</button>
        </form>
    </div>
  </ion-content>
</ion-view>
