<ion-view>
    <ion-content>
    <div class="padding">
        <h4 class="text-center">Upgrade Akun</h4>
        <p>
            Upgrade akun t-money-mu untuk mendapatkan keuntungan sebagai berikut:
        </p>
        <div class="list">
            <div class="item item-icon-left item-text-wrap">
                <i class="icon ion-checkmark"></i>
                Transfer uang ke pengguna atau bank lain
            </div>
            <div class="item item-icon-left item-text-wrap">
                <i class="icon ion-checkmark"></i>
                Tarik tunai di Plasa Telkom
            </div>
            <div class="item item-icon-left item-text-wrap">
                <i class="icon ion-checkmark"></i>
                Limit saldo sampai Rp. 5.000.000
            </div>
        </div>
        <h4>Cara Upgrade:</h4>
        <ul class="list-number">
            <li class="item-text-wrap">
                Siapkan <strong>fotokopi identitas diri (KTP/SIM/Kartu Mahasiswa/Kartu Pelajar).</strong>
            </li>
            <li class="item-text-wrap">
                Datang ke Plasa Telkom terdekat
            </li>
            <li class="item-text-wrap">
                Isi form <strong>Upgrade Layanan dan tanda tangani.</strong>
            </li>
            <li class="item-text-wrap">
                Serahkan langsung pada petugas
            </li>
        </ul>
    </div>
  </ion-content>
</ion-view>