<ion-modal-view>
  <ion-header-bar class="bar-assertive" align-title="center">
    <h1 class="title">Status Transaksi</h1>
    <div class="buttons">
      <button class="button button-clear icon ion-close" ng-click="status_close()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Transaksi</span>
            <input type="text" value="Transfer Tmoney" readonly >
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">No. HP / Email</span>
            <input type="text" ng-model="item.destination" placeholder="Masukkan Email/No. HP" readonly />
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Nama</span>
            <input type="text" ng-model="item.destName" placeholder="Masukkan Nama" readonly />
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Nominal</span>
            <input type="text" value="{{item.nominal | currency: 'Rp. '}}" readonly >
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Admin Fee</span>
            <input type="text" value="{{item.fee | currency: 'Rp. '}}" readonly >
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Jumlah</span>
            <input type="text" value="{{(item.total) | currency: 'Rp. '}}" readonly >
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">No.Ref</span>
            <input type="text" ng-model="item.refNo" readonly >
        </label>
        <label class="item" style="text-align: center;">
            <h3>Transaksi Berhasil</h3><br>
            <button class="button button-balanced icon ion-checkmark" type="button" ng-click="status_close()" > OK</button>
        </label>
      </div>
    </form>
    </ion-content>
</ion-modal-view>
